<!DOCTYPE html>
<html>
<head><title>All Users</title></head>
<body>
    <h1>All Users</h1>
    <a href="/users/new">Add New User</a>
    <ul>
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }} - <a href="/users/{{ user.id }}">View</a> | <a href="/users/{{ user.id }}/edit">Edit</a>
                <form action="/users/{{ user.id }}/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
