<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>{{task.task_name}}</h2>
        <p>ID: {{task.id}}</p>
        <p>Task Type: {{task.task_type}}</p>
        <a href="/">Return to Home</a>
    </div>
</body>

</html>